
/*  */
#prueba-bloque2, .prueba, .prueba-vista {
    background: rgb(255, 255, 255);
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    box-sizing: border-box;
	font-size: 100%;
	font-family: 'Georgia', sans-serif;
    vertical-align: baseline;
    padding:14px 30px 14px;
    word-wrap:break-word;
}

.header {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    font:inherit;
    vertical-align:baseline;
    background:rgb(255, 255, 255);
}

html {
    background-color: brown;
}

