// variables header

$layoutrgba: rgba(0,0,0,0);
$layoutrgba1: rgba(56,55,56,0);
$layoutrgba2: rgb(255, 255, 255);

$rowrgba: rgba(122, 48, 48, 0.0);

$headerrgba: rgba(255, 255, 255, 0.0);

$menurgba: rgba(88, 74, 74, 0.0);
$menuhoverrgb: rgb(255, 255, 255);
$menuhoverrgba: rgba(255, 255, 255, 0.8);

$topmenurgba: rgba(88, 74, 74, 0.0);
$topmenuhoverrgb: rgb(255, 255, 255);
$topmenuhoverrgba: rgba(255, 255, 255, 0.8);

$headertoprgba: rgba(115, 115, 115, 0.0);

$pruebamenurgb: rgb(185, 98, 98);

// ----------------------------

// variables features

$blockfavoritesrgba: rgba(133,121,133,1);

// ----------------------------

// variables highlighted

$regionrgba: rgba(255, 255, 255, 0.0);

// ----------------------------

// variables table

$tablergba: rgba(133,121,133,1);

// ----------------------------

// variables content

$coldsrgba: rgba(0,0,0,0.75);